[Unit]
Description=BlindsControl Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/pi/BlindsControl/
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/BlindsControl/blindscontrol_controller_interface.py > /home/pi/blindscontrol.log 2>&1

[Install]
WantedBy=multi-user.target